@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

/* M3 typography: display/large */
@layer components {
  .m3-display-large {
    font-family: "Inter", sans-serif;
    font-size: 57px;
    line-height: 64px;
    font-weight: 400;
  }
}
